@import './Gán Biến.scss';

body
{
    margin: 0;
    font-family: 'Sourcce Sans Pro', sans-serif;// cần truy vấn thư viện (1)
    font-size: 14px;
    line-height: 1.3em;
}
.trello-huuquy
{
    height: 100vh;//vh giúp căn chỉnh dù màn hình bao nhiu
    display: grid;
    grid-template-rows: 40px 50px 1fr; //(phân ra app bar 40px boarbar 50px board colums còn lại màn) (2)
    background-color: $mauxanh;//màu giao diện
    
   
}