@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');// truy vấn import thư viện cho font chữ từ google cho font-family (1)
//gán biến để gọi lại
$gap: 10px;
$mauxanh: green;
$mauphu:rgb(28, 87, 28);
$mauthanhcongviec:#ebecf0;
$chieucao-header:36px;
$chieucao-footer:36px;
$chieucao-border-radius:5px;
$card-border-radius: 4px;
$common-element-bg: rgba(255, 255, 255, 24);

body
{
    margin: 0;
    font-family: 'Sourcce Sans Pro', sans-serif;// cần truy vấn thư viện (1)
    font-size: 14px;
    line-height: 1.3em;
}
.trello-huuquy
{
    height: 100vh;//vh giúp căn chỉnh dù màn hình bao nhiu
    display: grid;
    grid-template-rows: 40px 50px 1fr; //(phân ra app bar 40px boarbar 50px board colums còn lại màn) (2)
    background-color: $mauxanh;//màu giao diện
    .navbar
    {
        padding-left: $gap;
        display: flex;
        align-items: center;// căn chỉnh cho chữ nằm giữa mỗi cái chia từ cái (2)
        &.app
        {
            background-color: $mauphu;
            font-size: 1.5rem;
        }
        &.board
        {
            background-color: $mauxanh;
            font-size: 1.1rem;
        }
    }
    .board-columns
    {
        display: flex;
        margin: 0 $gap $gap;
        overflow-x: auto;//tạo thanh cuộn ngang khi tạo nhiều công việc (x là ngang y là dọc)
        //thiết kế thanh kéo ngang của toàn web
        &::-webkit-scrollbar
        {
        -webkit-appearance: none;
        }
        &::-webkit-scrollbar:horizontal
        {
        height: 11px;
        }
        &::-webkit-scrollbar-thumb
        {
        background-color: $common-element-bg;
        border-radius: 8px;
        }
        .column
        {
            flex: 0 0 auto;
            width: 300px;// chiều rộng cột công việc
            height: calc(100% - #{$gap} );
            &:not(:first-child)
            {
                margin-left: $gap;
            }
            > * // thiết kế thẻ công việc
            {
                background-color: $mauthanhcongviec;
                color: #333;
                padding: 0 8px;
            }
            header //đầu của bảng công việc
            {
                padding-left: 15px;
                height: $chieucao-header;
                line-height: $chieucao-header;
                font-size: 16px;
                font-weight: bold; 
                border-top-left-radius: $chieucao-border-radius;
                border-top-right-radius: $chieucao-border-radius;
            }
            footer //cuối của bảng công việc
            {
                padding-left: 10px;
                height: $chieucao-footer;
                line-height: $chieucao-footer;
                border-bottom-left-radius: $chieucao-border-radius;
                border-bottom-right-radius: $chieucao-border-radius;
            }
            ul
            {
                list-style-type: none;
                margin: 0;
                max-height: calc(100% - #{$chieucao-header} - #{$chieucao-footer});
                overflow-y: auto;//tạo thanh cuộn dọc khi tạo nhiều công việc (x là ngang y là dọc)
                // thiết kế thanh kéo dọc của từng công việc 
                &::-webkit-scrollbar
                {
                -webkit-appearance: none;
                }
                &::-webkit-scrollbar:vertical
                {
                width: 11px;
                }
                &::-webkit-scrollbar-thumb
                {
                background-color: darken($mauthanhcongviec,15);
                border-right: 5px solid $mauthanhcongviec;
                }
                li
                {
                    background-color: white;
                    padding: $gap;
                    border-radius: $card-border-radius;
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); //tạo bóng cho từng khung công việc
                    &:not(:last-child)
                    {
                        margin-bottom: $gap;
                    }
                }
                img
                {
                    display: block;
                    width: calc(100% + 2 *#{$gap});
                    margin: -$gap 0 $gap (-$gap);
                    border-bottom-left-radius: $card-border-radius;
                    border-bottom-right-radius: $card-border-radius;
                }
            }
        }
    }
}