@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');// truy vấn import thư viện cho font chữ từ google cho font-family (1)
//gán biến để gọi lại
//Kích thước
$gap: 10px;
$chieucao-header:36px;
$chieucao-footer:36px;
$chieucao-border-radius:5px;
$card-border-radius: 4px;

//Màu
$mauxanh: green;
$mauphu:rgb(28, 87, 28);
$mauthanhcongviec:#ebecf0;
$common-element-bg: rgba(255, 255, 255, 24);

//screens